* {
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --background-color-alt: #aaa;
}

body {
  font-size: 14px;
  font-family: Arial, sans-serif, system-ui;
  font-weight: 500;
  padding: 0;
  margin: 0;
  user-select: none;
  background-color: var(--background-color);
  transition: background-color 0.1s ease;
}

.app-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main-card {
  padding: 1em;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  border-radius: 8px;
  border: 5px solid #ddd;
  background: #efefef;
  box-shadow: #efefef 0 4px 0 0;
}

.main-card.clicked {
  /*background-color: rgba(100,70,50,0.1);*/
  transition: none;
}

.main-card > .top {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.main-card .row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-card > * + * {
  margin-top: 16px;
}
.main-card > .top > * + * {
  margin-top: 10px;
}
.main-card .row > * + * {
  margin-left: 8px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  font-size: 2em;
  font-weight: 800;
  padding: 8px;
  border: 3px solid #aaa;
  border-radius: 8px;
  color: #aaa;
  background-color: var(--background-color);
  transition: background-color 1s ease, color 1s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.row:nth-child(1) > .container,
.row:nth-child(2) > .container {
  min-width: 440px;
}

@media (max-width: 620px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 560px) {
  .row > .container {
    min-width: unset !important;
  }
  body {
    font-size: 10px;
  }
}


.container > .count {
  font-size: 2em;
}

.container[data-type="meta"] h3 {
  color: #333;
  font-size: 1em;
  line-height: 1;
  font-weight: 600;
  flex: 1;
}
.container[data-type="seconds"] {
  color: #eee;
  background-color: rgba(70, 20, 180, 0.6);
  border: 4px solid rgba(70, 20, 180, 0.65);
  box-shadow: rgba(70, 20, 180, 0.6) 0 4px 0 0;
}
.container[data-type="minutes"] {
  color: #eee;
  background-color: rgba(180, 20, 70, 0.6);
  border: 4px solid rgba(180, 20, 70, 0.65);
  box-shadow: rgba(180, 20, 70, 0.6) 0 4px 0 0;
}
.container[data-type="hours"] {
  color: #eee;
  background-color: rgba(70, 150, 20, 0.6);
  border: 4px solid rgba(70, 150, 20, 0.65);
  box-shadow: rgba(70, 150, 20, 0.6) 0 4px 0 0;
}
.container[data-type="days"] {
  color: #eee;
  background-color: rgba(70, 150, 150, 0.6);
  border: 4px solid rgba(70, 150, 150, 0.65);
  box-shadow: rgba(70, 150, 150, 0.6) 0 4px 0 0;
}
.container[data-type="month"] {
  color: #eee;
  background-color: rgba(150, 150, 70, 0.6);
  border: 4px solid rgba(150, 150, 70, 0.65);
  box-shadow: rgba(150, 150, 70, 0.6) 0 4px 0 0;
}
.container[data-type="years"] {
  color: #eee;
  background-color: rgba(150, 70, 150, 0.6);
  border: 4px solid rgba(150, 70, 150, 0.65);
  box-shadow: rgba(150, 70, 150, 0.6) 0 4px 0 0;
}

.container[data-type="picker"] {
  min-width: 300px;
}

.container[data-type="picker"] input {
  width: 100%;
  height: 100%;
  font-size: 0.6em;
  border: unset;
}
